@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/* Colores y formato del texto */
.text-primary-p {
    color: #a5aaad;
    font-size: 14px;
    font-weight: 700;
}

.font-bold {
    font-weight: 700;
}

.text-title {
    color: #2e4a66;
}

.text-lightblue {
    color: #469cac;
}

.text-yellow {
    color: #a98921;
}

.text-green {
    color: #3b9668;
}

/* Distribución de las secciones */
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar nav nav nav"
        "sidebar main main main";
}

.navbar {
    background: #fff;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid lightgrey;
}

/* BARRA SUPERIOR DE NAVEGACIÓN */
.nav-icon {
    display: none;
}

.nav-icon > i {
    font-size: 26px;
    color: #a5aaad;
}

.navbar-left > a {
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}

.navbar-left .active-link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right >a {
    margin-left: 20px;
    text-decoration: none;
}

.navbar-right >a >i {
    color: #a5aaad;
    font-size: 20px;
    /* border-radius: 50px; */
    background: #fff;
    /* box-shadow: 2px 2px 5px #463f3f, -2px -2px 5px #fff; */
}

/* ÁREA CENTRAL DE CONTENIDO */
main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}

.main-container {
    padding: 20px 50px;
}

.main-title {
    display: flex;
    align-items: center;
}

.main-title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main-greeting > h1  {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.main-greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 25px;
    background: #fff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #fff;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > span {
    font-size: 25px;
}

/* MENÚ LATERAL IZQUIERDO */
#sidebar {
    background: #020509;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.sidebar-img {
    display: flex;
    align-items: center;
}

.sidebar-title > div > img {
    width: 75px;
    object-fit: contain;
}

.sidebar-title > div > h1 {
    font-size: 18px;
    display: inline;
    margin-left: 20px;
}

.sidebar-title > i {
    font-size: 18px;
    display: none;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f4f6;
    margin-bottom: 30px;
}

.sidebar-menu > h2 {
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar-link {
    color: #f3f4f6;
    padding: 10px;
    margin-bottom: 5px;
}

.active-menu-link {
    background:  rgba(62, 161, 117, 0.3);
    color: #3ea175;
}

.active-menu-link a {
    color: #3ea175 !important;
}

.sidebar-link > a {
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
}

.sidebar-link > i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar-logout {
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
}

.sidebar-logout > a {
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar-logout > i {
    margin-right: 10px;
    font-size: 18px;
}